@media (max-width: 1400px){

    body{
      background:linear-gradient(45deg, #363636 0%,#363636 90%,#fff 90%,#fff 100%);
    }
    .boton{
        margin-left: 90px;
    }

    #crusherimage{
        height:325px;
    width: 280px;
    }
}
