@media (max-width: 1400px){

    body{
      background:linear-gradient(45deg, #363636 0%,#363636 90%,#fff 90%,#fff 100%);
    }
    .boton{
        margin-left: 90px;
    }

    #crusherimage{
        height:325px;
    width: 280px;
    }
}





@media (max-width: 1024px){
    body{
       background:linear-gradient(360deg, #363636 0%,#363636 97%,#fff 90%,#fff 100%);
    }  
   
   
    /*parte del header */
    .header{
       color: #363636;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows:1fr;
       gap: 30px 0px;
       grid-auto-flow: row;
       
    }  
   
    .nombre{
       grid-column: 1/2;
       margin-left: 5%;
       font-size: 20px;
    }
    #catalogo{
       grid-column: 2/3;
       text-align: center;
       font-size: 12px;
    }
    #soporte{
       grid-column: 3/4;
       text-align: center;
       font-size: 12px;
    }
    #user{
       grid-column: 4/5;
       
    }
    #bag{
       grid-column: 5/6;
       margin-left: 10px;
       
    }
   
    /*parte del header */
   
     /*parte producto*/
    .producto{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: repeat(6,1fr);
       gap: 30px 20px;
       grid-auto-flow: row;
       justify-items: center;
    }
     
     #titulo{
       grid-column: 1/4;
       grid-row: 1/2;
       text-align: center;
       margin-top: 70px;
       font-size: 36px;
     }
     #subtitulo{
       grid-column: 1/4;
       grid-row: 2/3;
       text-align: center;
       font-size: 24px;
     }
     #imagen{
       height: 280px;
       width: 290px;
       grid-column:1/4;
       grid-row: 3/4;
     }
     #sub{
       grid-column: 1/4;
       grid-row: 4/5;
       text-align: center;
     }
     .correo{
       grid-column: 1/4;
       grid-row: 5/6;
       height: 48px;
       width: 300px;
     }
     .boton{
       grid-column: 1/4;
       grid-row: 6/7;
       height: 40px;
       width: 119px;
       margin: 0;
     }
   
     /*termina producto*/
   
     /*comienza catalogo*/
     .catalogo{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: repeat(6,1fr);
       gap: 0px 0px;
       grid-auto-flow: row;
       
     }
     .catalogo img{
       width: 25px;
       height: 25px;
       grid-column: 1/2;
       justify-self: center;
     }
     .catalogo div{
       grid-column: 2/4;
       font-size: 12px;
     }
   
     #producto1{
       grid-column: 1/4;
       grid-row: 7/8;
       margin-top: 50px;
       height: 445px;
       width: 210px;
     }
   
     #producto2{
       grid-column: 1/2;
       grid-row: 8/9;
       margin-top: 70px;
       height: 91px;
       width: 82px;
     }
   
     #producto3{
       grid-column: 2/3;
       grid-row: 8/9;
       margin-top: 50px;
       height: 102px;
       width: 111px;
     }
     #producto4{
       grid-column: 3/4;
       grid-row: 8/9;
       margin-top: 70px;
       height: 91px;
       width: 82px;
     }
   /*aqui termina el catalogo*/
   /*adicional*/
   
   .adicional{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: repeat(2,1fr);
       gap: 0px 0px;
       grid-auto-flow: row;
       justify-items: center;
   }
   
   .rectblanco{
       height: 370px;
       width: 350px;
       grid-column: 1/4;
       grid-row: 1/2;
       text-align: center;
       
   }
    #crusherimage{
       margin-top: 50px;
       height:325px;
       width: 280px;
       grid-column: 1/4;
       grid-row: 2/3;
    }
    #tituloadc{
       margin-top: 50px;
       margin-left: 0;
       font-size: 24px;
    }
    .rectblanco p{
       margin-left: 10px;
       margin-right: 10px;
       font-size:12px;
    }
    #comprar{
       margin-left: 0;
    }
   
    .footer{
       margin-top: 100px;
    }
    .footer1{
     grid-column: 2/5;
    }
    .footer2{
     grid-column: 5/8;
    }
    .footer3{
     grid-column: 8/10;
    }
   #instagram{
     display: none;
   }
   #facebook{
     display: none;
   }
   #twitter{
     display: none;
   }
   
   
   
   }
   